@import "_innerBlocks.scss";

.container {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.menu {
	overflow: visible;
	background-color: hsla(0, 0%, 0%, 0.54);
	position: fixed;
	width: 200px;

	top: 188px;
	left: 0;
	z-index: 100;
	overflow: hidden;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu.menu--open + .main {
	opacity: 0.3;
	pointer-events: none;
}

.menu__inner {
	margin:40px 0;
	width: calc(100% + 25px);
	width: 200px;
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {

	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--anim ul li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.5s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.4s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.3s;
}
.menu ul li:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.2s;
}
.menu ul li:nth-child(5) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.menu ul li:nth-child(6) {
	margin-bottom: 0;
}

.menu ul li a {
	display: block;
	outline: none;
	margin:25px auto;
}

.menu ul li span	 {

	display: block;
	color: #e8e8e8;
	font-weight: 300;
	text-align: left;
	font-size: 1.4em;
	font-family: lato;

}

.menu__handle {
	background: rgba(201, 202, 204, 0);
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 10px;
	z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: #e8e8e8;
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu__handle::before {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}
.menu__inner{
	ul li{
	span{
		position:relative;
		text-indent: 50px;
	}
	span:before{
		transform: translate3d(-200px,0,0);
		transition:all .1s ease;
		position:absolute;
		font-size: 1em;
	}
	a:hover span:before{
		transform: translate3d(-80px,0,0);
	}
	}
}
