/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, _normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, _normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, _normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, _normalize.scss */
[hidden],
template {
  display: none;
}

/* line 56, _normalize.scss */
script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 70, _normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 80, _normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 92, _normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 100, _normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 109, _normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 122, _normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 131, _normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 140, _normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 148, _normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 156, _normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 166, _normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 178, _normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 187, _normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 195, _normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 203, _normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 212, _normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 219, _normalize.scss */
sup {
  top: -0.5em;
}

/* line 223, _normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 235, _normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 243, _normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 255, _normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 267, _normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 278, _normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 292, _normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 304, _normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 316, _normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 331, _normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 341, _normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 351, _normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 362, _normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 375, _normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 384, _normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 394, _normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 407, _normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-1mz06d");
  src: url("../fonts/icomoon.eot?#iefix-1mz06d") format("embedded-opentype"), url("../fonts/icomoon.woff?-1mz06d") format("woff"), url("../fonts/icomoon.ttf?-1mz06d") format("truetype"), url("../fonts/icomoon.svg?-1mz06d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, _font.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 18, _font.scss */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, _font.scss */
.icon-pencil:before {
  content: "\e600";
}

/* line 25, _font.scss */
.icon-play:before {
  content: "\e601";
}

/* line 28, _font.scss */
.icon-copy:before {
  content: "\e602";
}

/* line 31, _font.scss */
.icon-code:before {
  content: "\e603";
}

/* line 34, _font.scss */
.icon-googleplus:before {
  content: "\e605";
}

/* line 37, _font.scss */
.icon-facebook:before {
  content: "\e606";
}

/* line 40, _font.scss */
.icon-screen:before {
  content: "\e604";
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 53, _font.scss */
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 62, _font.scss */
.flaticon-check3:before {
  content: "\e000";
}

/* line 65, _font.scss */
.flaticon-cup29:before {
  content: "\e001";
}

/* line 68, _font.scss */
.flaticon-flag30:before {
  content: "\e002";
}

/* line 71, _font.scss */
.flaticon-handshake1:before {
  content: "\e003";
}

/* line 74, _font.scss */
.flaticon-male127:before {
  content: "\e004";
}

/* line 77, _font.scss */
.flaticon-multiple25:before {
  content: "\e005";
}

/* line 80, _font.scss */
.flaticon-open131:before {
  content: "\e006";
}

/* line 13, _teamBlocks.scss */
* {
  font-family: 'Lato', sans-serif;
  color: black;
}

/* line 17, _teamBlocks.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 22, _teamBlocks.scss */
header {
  padding: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}
/* line 24, _teamBlocks.scss */
header h1 {
  text-indent: 4em;
  font-size: 4rem;
  font-style: none;
  font-weight: 100;
}

/* line 32, _teamBlocks.scss */
section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 36, _teamBlocks.scss */
.container {
  padding: 1px;
  background: url("../Image/bg.svg") fixed;
  background-size: contain;
  background-position: 0 0;
}
/* line 41, _teamBlocks.scss */
.container .ct-grid {
  display: flex;
  flex-direction: column;
}
/* line 44, _teamBlocks.scss */
.container .ct-grid > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
/* line 48, _teamBlocks.scss */
.container .ct-grid > div > li {
  height: 15em;
  display: block;
  margin: 0 0.5%;
  cursor: pointer;
  position: relative;
}
/* line 57, _teamBlocks.scss */
.container .ct-grid div:nth-child(1) > li {
  width: 80%;
}
/* line 60, _teamBlocks.scss */
.container .ct-grid div:nth-child(2) > li {
  width: 39.5%;
}
/* line 63, _teamBlocks.scss */
.container .ct-grid div:nth-child(3) > li {
  width: 39.5%;
}
/* line 66, _teamBlocks.scss */
.container .ct-grid .slide1 {
  background: #261822;
}
/* line 68, _teamBlocks.scss */
.container .ct-grid .slide1 .expand {
  background-color: #261822;
}
/* line 72, _teamBlocks.scss */
.container .ct-grid .slide2 {
  background: #40152a;
}
/* line 74, _teamBlocks.scss */
.container .ct-grid .slide2 .expand {
  background-color: #40152a;
}
/* line 78, _teamBlocks.scss */
.container .ct-grid .slide3 {
  background: #731630;
}
/* line 80, _teamBlocks.scss */
.container .ct-grid .slide3 .expand {
  background-color: #731630;
}
/* line 84, _teamBlocks.scss */
.container .ct-grid .slide4 {
  background: #731630;
}
/* line 86, _teamBlocks.scss */
.container .ct-grid .slide4 .expand {
  background-color: #731630;
}
/* line 90, _teamBlocks.scss */
.container .ct-grid .slide5 {
  background: #ff5434;
}
/* line 92, _teamBlocks.scss */
.container .ct-grid .slide5 .expand {
  background-color: #ff5434;
}
/* line 96, _teamBlocks.scss */
.container .ct-grid [class^="slide"] > ul {
  height: 100%;
  width: 100%;
  font-style: none;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 97, _teamBlocks.scss */
.container .ct-grid [class^="slide"] > ul li {
  display: block;
  text-indent: 40px;
}
/* line 108, _teamBlocks.scss */
.container .ct-grid [class^="slide"] > ul [class^="icon-"]:before, .container .ct-grid [class^="slide"] > ul [class^="flaticon-"]:before {
  color: white;
  font-size: 4em;
}
/* line 112, _teamBlocks.scss */
.container .ct-grid [class^="slide"] > ul li:last-child {
  color: white;
  font-size: 3em;
  text-indent: 50px;
}
/* line 119, _teamBlocks.scss */
.container .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* line 124, _teamBlocks.scss */
.container .expand {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
}
/* line 137, _teamBlocks.scss */
.container .close {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  width: 2em;
  height: 2em;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
}
/* line 147, _teamBlocks.scss */
.container .close:before {
  content: 'x';
  color: white;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}

/* line 162, _teamBlocks.scss */
footer {
  padding-bottom: 1px;
  height: 25%;
  border-top: 1px solid rgba(0, 0, 0, 0.21);
  text-align: center;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: black;
  font-style: normal;
  p: first-child;
  p-padding: 10px 0;
  p-font-size: 1.2em;
  p-margin: 0;
}

/* line 2, _innerBlocks.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 6, _innerBlocks.scss */
.expand {
  overflow: auto;
}
/* line 8, _innerBlocks.scss */
.expand > section {
  margin: 40px auto 120px;
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 9, _innerBlocks.scss */
.expand > section figcaption, .expand > section figcaption h2, .expand > section figcaption p {
  backface-visibility: hidden;
}
/* line 19, _innerBlocks.scss */
.expand > section .hover {
  position: relative;
  max-width: 250px;
  width: 25%;
  color: #333;
  display: block;
}
/* line 26, _innerBlocks.scss */
.expand > section .hover:nth-child(odd) {
  margin: 30px 0 -30px 0;
}
/* line 29, _innerBlocks.scss */
.expand > section .fix {
  margin-top: 60px;
}
/* line 32, _innerBlocks.scss */
.expand > section figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 40, _innerBlocks.scss */
.expand > section figcaption h2 {
  margin: 0 0 20px 0;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  transition: transform 0.3s;
  transform: translateY(50px);
}
/* line 50, _innerBlocks.scss */
.expand > section figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(50px);
}
/* line 58, _innerBlocks.scss */
.expand > section figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  height: 400px;
  background: #333;
}
/* line 64, _innerBlocks.scss */
.expand > section figure img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
/* line 76, _innerBlocks.scss */
.expand > section figure .move-up {
  position: absolute;
  bottom: -36px;
  left: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: bottom 0.3s;
}
/* line 86, _innerBlocks.scss */
.expand > section figure .move-up div {
  text-align: center;
  height: 100%;
  margin: 5px;
}
/* line 91, _innerBlocks.scss */
.expand > section figure .move-up a {
  position: relative;
  z-index: 100;
}
/* line 95, _innerBlocks.scss */
.expand > section figure .move-up a:first-child div:before {
  color: #dd4b39;
  font-size: 1.6em;
}
/* line 100, _innerBlocks.scss */
.expand > section figure .move-up a:last-child div:before {
  color: #3B5998;
  font-size: 1.6em;
}
/* line 105, _innerBlocks.scss */
.expand > section figure .move-up:after {
  display: table;
  content: "";
  clear: both;
}
/* line 111, _innerBlocks.scss */
.expand > section svg {
  position: absolute;
  top: -1px;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 118, _innerBlocks.scss */
.expand > section svg path {
  fill: #fff;
}
/* line 122, _innerBlocks.scss */
.expand > section .hover:hover figure img {
  opacity: 1;
}
/* line 126, _innerBlocks.scss */
.expand > section .hover:hover figcaption h2,
.expand > section .hover:hover figcaption p {
  transform: translateY(0);
}
/* line 129, _innerBlocks.scss */
.expand > section .hover:hover figcaption p {
  opacity: 0;
}
/* line 132, _innerBlocks.scss */
.expand > section .hover:hover .move-up {
  bottom: 0;
}

/* line 3, style.scss */
.container {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 7, style.scss */
.menu {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.54);
  position: fixed;
  width: 200px;
  top: 188px;
  left: 0;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

/* line 23, style.scss */
.menu.menu--open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 28, style.scss */
.menu.menu--open + .main {
  opacity: 0.3;
  pointer-events: none;
}

/* line 33, style.scss */
.menu__inner {
  margin: 40px 0;
  width: calc(100% + 25px);
  width: 200px;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 100;
}

/* line 43, style.scss */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 49, style.scss */
.menu ul li {
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

/* line 57, style.scss */
.menu.menu--anim ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 62, style.scss */
.menu ul li:first-child {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.5s;
}

/* line 67, style.scss */
.menu ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.4s;
}

/* line 72, style.scss */
.menu ul li:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.3s;
}

/* line 76, style.scss */
.menu ul li:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.2s;
}

/* line 80, style.scss */
.menu ul li:nth-child(5) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 84, style.scss */
.menu ul li:nth-child(6) {
  margin-bottom: 0;
}

/* line 88, style.scss */
.menu ul li a {
  display: block;
  outline: none;
  margin: 25px auto;
}

/* line 94, style.scss */
.menu ul li span {
  display: block;
  color: #e8e8e8;
  font-weight: 300;
  text-align: left;
  font-size: 1.4em;
  font-family: lato;
}

/* line 105, style.scss */
.menu__handle {
  background: rgba(201, 202, 204, 0);
  border: none;
  width: 30px;
  height: 24px;
  padding: 0;
  outline: none;
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 2000;
}

/* line 120, style.scss */
.menu__handle::before,
.menu__handle::after,
.menu__handle span {
  background: #e8e8e8;
}

/* line 125, style.scss */
.menu__handle::before,
.menu__handle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}

/* line 138, style.scss */
.menu__handle span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/* line 149, style.scss */
.menu__handle::before {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

/* line 154, style.scss */
.menu__handle::after {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

/* line 159, style.scss */
.menu--open .menu__handle span {
  opacity: 0;
}

/* line 163, style.scss */
.menu--open .menu__handle::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

/* line 168, style.scss */
.menu--open .menu__handle::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* line 174, style.scss */
.menu__inner ul li span {
  position: relative;
  text-indent: 50px;
}
/* line 178, style.scss */
.menu__inner ul li span:before {
  transform: translate3d(-200px, 0, 0);
  transition: all .1s ease;
  position: absolute;
  font-size: 1em;
}
/* line 184, style.scss */
.menu__inner ul li a:hover span:before {
  transform: translate3d(-80px, 0, 0);
}
