@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 53, _font.scss */
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 62, _font.scss */
.flaticon-check3:before {
  content: "\e000";
}

/* line 65, _font.scss */
.flaticon-cup29:before {
  content: "\e001";
}

/* line 68, _font.scss */
.flaticon-flag30:before {
  content: "\e002";
}

/* line 71, _font.scss */
.flaticon-handshake1:before {
  content: "\e003";
}

/* line 74, _font.scss */
.flaticon-male127:before {
  content: "\e004";
}

/* line 77, _font.scss */
.flaticon-multiple25:before {
  content: "\e005";
}

/* line 80, _font.scss */
.flaticon-open131:before {
  content: "\e006";
}

/* line 13, _teamBlocks.scss */
* {
  font-family: 'Lato', sans-serif;
  color: black;
}
.menu {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.54);
  position: fixed;
  width: 200px;
  top: 188px;
  left: 0;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

/* line 23, style.scss */
.menu.menu--open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 28, style.scss */
.menu.menu--open + .main {
  opacity: 0.3;
  pointer-events: none;
}

/* line 33, style.scss */
.menu__inner {
  margin: 40px 0;
  width: calc(100% + 25px);
  width: 200px;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 100;
}

/* line 43, style.scss */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 49, style.scss */
.menu ul li {
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

/* line 57, style.scss */
.menu.menu--anim ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 62, style.scss */
.menu ul li:first-child {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.5s;
}

/* line 67, style.scss */
.menu ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.4s;
}

/* line 72, style.scss */
.menu ul li:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.3s;
}

/* line 76, style.scss */
.menu ul li:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.2s;
}

/* line 80, style.scss */
.menu ul li:nth-child(5) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 84, style.scss */
.menu ul li:nth-child(6) {
  margin-bottom: 0;
}

/* line 88, style.scss */
.menu ul li a {
  display: block;
  outline: none;
  margin: 25px auto;
}

/* line 94, style.scss */
.menu ul li span {
  display: block;
  color: #e8e8e8;
  font-weight: 300;
  text-align: left;
  font-size: 1.4em;
  font-family: lato;
}

/* line 105, style.scss */
.menu__handle {
  background: rgba(201, 202, 204, 0);
  border: none;
  width: 30px;
  height: 24px;
  padding: 0;
  outline: none;
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 2000;
}

/* line 120, style.scss */
.menu__handle::before,
.menu__handle::after,
.menu__handle span {
  background: #e8e8e8;
}

/* line 125, style.scss */
.menu__handle::before,
.menu__handle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}

/* line 138, style.scss */
.menu__handle span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/* line 149, style.scss */
.menu__handle::before {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

/* line 154, style.scss */
.menu__handle::after {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

/* line 159, style.scss */
.menu--open .menu__handle span {
  opacity: 0;
}

/* line 163, style.scss */
.menu--open .menu__handle::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

/* line 168, style.scss */
.menu--open .menu__handle::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* line 174, style.scss */
.menu__inner ul li span {
  position: relative;
  text-indent: 50px;
}
/* line 178, style.scss */
.menu__inner ul li span:before {
  transform: translate3d(-200px, 0, 0);
  transition: all .1s ease;
  position: absolute;
  font-size: 1em;
}
/* line 184, style.scss */
.menu__inner ul li a:hover span:before {
  transform: translate3d(-80px, 0, 0);
}
a{
	text-decoration: none;
	font:lato;
	font-variant: small-caps;
}
