/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#0A1723;}
#colorbox{}
    #cboxContent{margin-top:20px; background:url(../img/bg-colorbox.png) no-repeat 0 0; /*width:550px !important; height: 708px !important;*/ padding:20px;}
        .cboxIframe{background:transparent;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{}        
        #cboxLoadingOverlay{}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:40px; right:45px; display:block; background:url(../img/close.gif) no-repeat top center; width:58px; height:13px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}

.country-nl #cboxContent{background:url(../img/bg-colorbox-nl.png) no-repeat 0 0;}

.colorbox-youtube #cboxContent {
	background:none; 
	background-color:#FFF; 
	/*padding-top: 40px;*/
	/*padding-bottom: 40px;*/
	border-radius: 10px;
}

.colorbox-youtube #cboxClose{
	right: 20px;
	top: 5px;
}

